@import '../../styles/mixin';
.button {
	// width: 160px;
	// height: 40px;
	padding: 10px 35px;
	display: inline-block;
	
	background-color: #00B6DD;
	transition: all .2s ease-out;
	margin-top: auto;
	margin-right: auto;

	font-family: NotoSans, sans-serif;
	@include adaptive('font-size', 13, 12);
	@include adaptive('line-height', 20, 18);
	font-weight: 400;
	letter-spacing: 0.8px;
	color: #fff;
	@media screen and (max-width: 991px) {
		padding: 10px 28px;
	}
	&:hover {
		background-color: #029cbf;
		letter-spacing: 1.3px;
	}
	&:active {
		background-color: #89e9ff;
		letter-spacing: 1px;
	}
	&Vip {
		background-color: #081580;
		&:hover {
			background-color: #0718b0;
		}
		&:active {
			background-color: #4051e4;
		}
	}
}