@import './styles/zero';
@import './styles/fonts';
@import './styles/mixin';
#root {
height: 100%;
width: 100%;
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
}
// ------------- Стилизация ограничивающего контейнера -------------
.container {
	max-width: 1140px;
	width: 100%;
	height: 100%;
	padding: 100px 0px;
	margin: 0 auto;
	@media screen and (max-width: 1199px) {
		padding: 80px 0px;
		max-width: 940px;
	}
	@media screen and (max-width: 991px) {
		padding: 60px 0px;
		max-width: 720px;
	}
	@media screen and (max-width: 767px) {
		padding: 50px 0px;
		max-width: 546px;
	}
	@media screen and (max-width: 575px) {
		max-width: 290px;
	}				
}

// ------------- Стилизация контейнера для карточек услуг -------------
.services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
	justify-content: center;
	align-content: center;
	gap: 30px;
	@media screen and (max-width: 767px) {
		grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
	}
}

// ------------- Стилизация карточек услуг -------------
.service {
	padding: 30px;
	max-width: 455px;
	width: 100%;
	min-height: 500px;
	background: #FFFFFF;
	border: 1px solid #D3D8E4;
	position: relative;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 1199px) {
		min-height: 470px;
	}
	@media screen and (max-width: 991px) {
		min-height: 440px;
		padding: 28px;
	}
	@media screen and (max-width: 767px) {
		padding: 16px 16px 20px;
		min-height: 448px;
	}
	// ----------------- Категория
	&__category {
		position: absolute;
		top: 12px;
		left: -1px;

		display: inline-block;
		padding: 7px 16px;
		background-color: #00B6DD;

		font-family: NotoSans, sans-serif;
		font-weight: 400;
		@include adaptive('font-size', 13, 12);
		@include adaptive('line-height', 22, 20);
		@include adaptive('letter-spacing', 1.2, 1);
		text-transform: uppercase;
		color: #fff;
		&-vip {
			background-color: #081580;
		}
	}
	// ----------------- Автор
	&__author {
		display: inline-block;
		margin: 20px 0 6px;

		font-family: NotoSans, sans-serif;
		font-weight: 400;
		@include adaptive('font-size', 13, 12);
		@include adaptive('line-height', 20, 18);
		letter-spacing: 0.8px;
		color: #00B6DD;
		&-vip {
			color: #081580;
		}
	}
	// ----------------- Название
	&__title {
		margin-bottom: 16px;

		font-family: NotoSans, sans-serif;
		font-weight: 400;
		@include adaptive('font-size', 22, 18);
		@include adaptive('line-height', 30, 26);
		@include adaptive('letter-spacing', 1.2, 1);
		color: #010101;
	}
	// ----------------- Описание
	&__description {
		margin-bottom: 30px;

		font-family: NotoSans, sans-serif;
		font-weight: 400;
		@include adaptive('font-size', 16, 14);
		@include adaptive('line-height', 26, 22);
		@include adaptive('letter-spacing', 0.8, 0.6);
		color: #010101;
	}
	// ----------------- Фон
	&__background {
		width: 300px;
		width: 100%;
		height: 170px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		@media screen and (max-width: 1199px) {
			max-width: 395px;
			height: 170px;
		}
		@media screen and (max-width: 991px) {
			max-width: 395px;
			height: 150px;
		}
		@media screen and (max-width: 767px) {
			max-width: 300px;
			height: 140px;
		}
	}
}

// ------------- Стилизация (позиционирование, размеры) кнопок (стрелок) слайдера -------------
.swiper-button {
	display: flex;
	width: 100%;
	gap: 25px;
	margin-top: 40px;
	&-prev, &-next {
		position: static!important;
		margin: 0!important;
		color: #00B6DD !important;
		width: auto!important;
		height: auto!important;
	}
	&-prev:after {
		font-size: 26px!important;
	}
	&-next:after {
		font-size: 26px!important;
	}
	@media screen and (max-width: 767px) {
		&-prev:after {
			font-size: 22px!important;
		}
		&-next:after {
			font-size: 22px!important;
		}
	}
	@media screen and (max-width: 991px) {
		margin-top: 30px!important;
	}
	@media screen and (max-width: 767px) {
		margin-top: 20px!important;
	}
	@media screen and (max-width: 575px) {
		justify-content: center;
	}
}